// .commonLoader.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] circle {
//     transition-property: stroke;
//     animation-duration: 4s;
//     animation-timing-function: cubic-bezier(.35,0,.25,1);
//     animation-iteration-count: infinite;
//     stroke: #03a9f4 !important;
// }
.commonLoader{position: absolute; top: 50%; left: 50%; margin-left: -50px;}
.mat-progress-spinner circle, .mat-spinner circle{stroke: #03a9f4 !important;}
