<div id="gmail_configure" class="page-layout simple fullwidth" fxLayout="column">

    <div class="header mat-accent-bg" style="padding: 40px"
    fxLayout="column" fxLayoutAlign="center center"
    fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    
    <!-- APP TITLE -->
    <div class="logo"
        fxLayout="row" fxLayoutAlign="start center">
       <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
           mail
       </mat-icon>
       <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Outlook Account</span>
    </div>
    <!-- / APP TITLE --> 
	
	<!--
	<button mat-raised-button 
    class="save-product-button mat-white-bg" 
    >
    <span>Back </span>    
    </button>	-->
	
	
    </div>	
	 <div class="content p-24">
        <form #for: ngForm class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24 example-form" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="outlookForm" (ngSubmit)="onSubmit()">    
			<div class="h2 mb-24">Outlook Credentials</div>
			
			<!--<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
				<mat-form-field fxFlex="50">
					<input matInput placeholder="Inbox Name" required [(ngModel)]='inbox' formControlName="inbox" [ngClass]="{ 'is-invalid': submitted && f.inbox.errors }">
					<div *ngIf="submitted && f.inbox.errors" class="invalid-feedback">
                            <div *ngIf="f.inbox.errors.required">Inbox is required</div>
                        </div>
				</mat-form-field>
			</div>-->
			
			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
				<mat-form-field fxFlex="50">
					<input matInput placeholder="Email Address" required [(ngModel)]='email' formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
				</mat-form-field>
			</div>
			
			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
				<mat-form-field fxFlex="50">
					<input matInput type="password" placeholder="Password" [(ngModel)]='password' required formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
				</mat-form-field>
			</div>
			<div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
				<button type="submit" mat-stroked-button  color="accent" >Save</button>
			</div>
			    
        </form>
                
    </div>
    
    
</div>