.board-name h2{
    padding:10px;
    margin:0;
}
.form-search{
  max-width: 300px;
  margin:0 10px; padding: 10px;
}
.user-button-option, .user-button-option:hover, .user-button-option .mat-button-focus-overlay {background:rgba(0,0,0,.3); color:#fff; opacity:1;}

.back-arrow{padding:15px 40px 0 ;}
.back-arrow .back-btn{
  font-size:40px !important;
  width: 30px !important;
  height: 30px !important;
}
