<!-- BOARDS -->
<div id="boards"
    class="mat-primary-200-bg"
    fxLayout="column"
    fxFlex fusePerfectScrollbar>

  <div class="header pt-44 pt-mat-88" fxFlex="0 0 auto"
  [@animate]="{value:'*',params:{delay:'100ms'}}">
      <!-- <h1 style="text-align: center;">Template</h1> -->
  </div>

<div class="tabular-row" *ngIf="this.totalCount === 0">
  <h2>No Projects Found</h2>
</div>
<div class="tabular-row">
  <div class="tabular-box tabular-box-custom" *ngFor="let project of projectList; let indx = index">
    <mat-icon class="icon-css del-icon" style="cursor: pointer;" (click)="onBoardDelete(project.id,indx)">delete</mat-icon>
    <mat-icon class="s-64" (click)="onRouterNavigate(project.id)">call_to_action</mat-icon>
    <h6 (click)="onRouterNavigate(project.id)">{{project.project_name}}</h6>
  </div>
  </div>

  <div class="tabular-row" *ngIf="loadMoreButton && !loadingValue">
      <button mat-raised-button color="primary"
             (click)="ehLoadMore()">Load More</button>
  </div>
<div>

<fuse-common-loader [loading]="loadingValue"></fuse-common-loader>
